{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Keranjang Belanja
{% endblock %}

{% block content %}
    <h1>Keranjang Belanja</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Gambar</th>
                <th>Produk</th>
                <th>Toko</th>
                <th>Jumlah</th>
                <th>Hapus</th>
                <th>Harga/Unit</th>
                <th>Total Harga</th>
            </tr>
        </thead>
        <tbody>
        {% for item in keranjang %}
            {% with produk=item.produk %}
            <tr>
                <td>
                    <a href="{{ produk.get_absolute_url }}">
                        <img src="{% if produk.gambar %}{{ produk.gambar.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ produk.nama }}</td>
                <td>{{ produk.toko_id }}</td>
                <td>
                    <form action="{% url "keranjang:keranjang_tambah" produk.id %}" method="post">
                        {{ item.update_jumlah_form.jumlah }}
                        {{ item.update_jumlah_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url "keranjang:keranjang_hapus" produk.id %}">Hapus</a></td>
                <td class="num">Rp.{{ item.harga }}</td>
                <td class="num">Rp.{{ item.total_harga }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="5"></td>
            <td class="num">Rp.{{ keranjang.get_total_harga }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:produk_list" %}" class="button light">Continue shopping</a>
        <a href="{% url "transaksi:order_create" %}" class="button">Checkout</a>
    </p>
{% endblock %}
