{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    {% if kategori %}{{ kategori.nama }}{% else %}My Shop{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Daftar Kategori</h3>
        <ul>
            <li {% if not kategori %}class="selected"{% endif %}>
                <a href="{% url "shop:produk_list" %}">All</a>
            </li>
            {% for c in kategoris %}
                <li {% if kategori.id == c.id %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.nama }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if kategori %}{{ kategori.nama }}
            <form action='' method="GET">
                <input type="text" name="search_produk" placeholder="Search"/>
                <input type="submit" value="Search">
            </form>
        {% else %}Produks <form action='' method="GET">
                <input type="text" name="search_produk" placeholder="Search"/>
                <input type="submit" value="Search">
            </form>
        {% endif %}</h1>
        {% for rek in rekomendasi %}
            <div class="rekomendasi">
                Rekomendasi untuk Anda
                <a href="{{ rek.get_absolute_url }}">
                    <img src="{% if rek.produk_gambar %}{{ rek.produk_gambar.url }} {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ rek.get_absolute_url }}">{{ rek.produk_nama }}</a><br>
                Rp.{{ rek.produk_harga | intcomma }}
                {% if rek.diskon != 0 %}
                    diskon {{ rek.produk_diskon }}%
                {% endif %}
            </div>
        {% endfor %}
            <div class="enter"></div>
        {% for produk in produks %}
            <div class="item">
                <a href="{{ produk.get_absolute_url }}">
                    <img src="{% if produk.gambar %}{{ produk.gambar.url }} {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ produk.get_absolute_url }}">{{ produk.nama }}</a><br>
                Rp.{{ produk.harga | intcomma }}
                {% if produk.diskon != 0 %}
                    diskon {{ produk.diskon }}%
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}