{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Akun Pelanggan
{% endblock %}

{% block content %}
    {% if pelanggan %}
        {% for pelanggans in pelanggan %}
            <h1>Selamat Datang '{{ user.username }}'</h1>
            <form>
                <table>
                    <tr>
                        <td width="100">Nama</td>
                        <td width="10">:</td>
                        <td>{{ pelanggans.nama }}</td>
                    </tr>
                    <tr>
                        <td>No Telepon</td>
                        <td>:</td>
                        <td>{{ pelanggans.no_telepon }}</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>:</td>
                        <td>{{ pelanggans.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td>Kabupaten</td>
                        <td>:</td>
                        <td>{{ pelanggans.kabupaten }}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ pelanggans.alamat }}</td>
                    </tr>
                    <tr>
                        <td>Kode Pos</td>
                        <td>:</td>
                        <td>{{ pelanggans.kodepos }}</td>
                    </tr>
                </table>
            </form>
        <a href="/decisiontree/">Generate Decision Tree</a>
        {% endfor %}
    {% else %}
    Anda belum memiliki informasi akun.<p>
    Apakah anda ingin melengkapi akun anda? silahkan <a href="/addpelanggan/">klik disini</a>
    {% endif %}
{% endblock %}