{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{{ pelanggan.nama }}
{% endblock %}

{% block content %}
<h2>Berikut dataset versi {{ pelanggan.nama }} :</h2>
<table>
    <tr>
        <td>
            <p><b>Nama Produk</b></p>
            {% for q in produk %}
            <p>{{q}}</p>
            {% endfor %}
        </td>
        <td>
            <p><b>Harga</b></p>
            {% for q in produk %}
            <p>{{q.harga | intcomma }}</p>
            {% endfor %}
        </td>
        <td>
            <p><b>Diskon</b></p>
            {% for q in produk %}
            <p>{{q.diskon}} %</p>
            {% endfor %}
        </td>
        <td>
            <p><b>harga,ongkir,diskon,ratingproduk,ratingtoko </b></p>
            {% for q in X_xtrain %}
            <p>{{q}}</p>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}