{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Penjualan
{% endblock %}

{% block content %}
    {% if penjualan %}
        <h1>Selamat Datang '{{ user.username }}'</h1>
        <table border="1">
            <tr>
                <td width="180">Waktu Pembelian</td>
                <td width="180">Produk</td>
                <td width="180">Harga</td>
                <td width="180">Pembeli</td>
                <td width="180">Dikirim ke</td>
                <td width="180">Ongkos Kirim</td>
            </tr>
        </table>
        {% for penjualans in penjualan %}
        <table border="1">
            <tr>
                <td width="180">{{ penjualans.waktu_pembelian }}</td>
                <td width="180">{{ penjualans.produk.nama }}</td>
                <td width="180">{{ penjualans.harga }}</td>
                <td width="180">{{ penjualans.pelanggan }}</td>
                <td width="180">{{ penjualans.pelanggan.kabupaten }}</td>
                <td width="180">{{ penjualans.biaya_pengiriman }}</td>
            </tr>
        </table>
        {% endfor %}
    {% endif %}
{% endblock %}