{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">My shop</a>
</div>
<div id="subheader">
    {% if user.is_authenticated %}
        <div class="logout">
            <a href="/logout/"> Logout </a>
        </div>
    {% else %}
        <div class="logout">
            <a href="/login/"> Login </a>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="akun">
            <a href="/pelanggan/"> Akun </a>
        </div>
        <div class="cart">
            <a href="/pembelian/"> Transaksi </a>
        </div>
        <div class="tokosaya">
            <a href="/toko-saya/"> Toko Saya </a>
        </div>
    {% endif %}
    <div class="toko">
        <a href="/toko/"> Toko </a>
    </div>
    <div class="beranda">
        <a href="/"> Beranda </a>
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>