{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
    </div>
    <div id="subheader">
        <div class="logout">
            <a href="/logout/"> Logout </a>
        </div>
        <div class="akun">
            <a href="/pelanggan/"> Akun </a>
        </div>
        <div class="cart">
            {% with total_items=keranjang|length %}
                {% if keranjang|length > 0 %}
                    Your cart:
                    <a href="{% url "keranjang:keranjang_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ keranjang.get_total_harga }}
                    </a>
                {% else %}
                    <a href="{% url "keranjang:keranjang_detail" %}"> Keranjang </a>
                {% endif %}
            {% endwith %}
        </div>
        <div class="tokosaya">
            <a href="/toko-saya/"> Toko Saya </a>
        </div>
        <div class="toko">
            <a href="/toko/"> Toko </a>
        </div>
        <div class="beranda">
            <a href="/"> Beranda </a>
        </div>
    </div>
{#    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">#}
{#        {% include "nav.html" %}#}
{#    </nav>#}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>