<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include "nav.html" %}

            {% include "sidebar.html" %}
        </nav>

        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "js.html" %}

    {% block inline_js %}
    {% endblock %}
</body>

</html>
