{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Akun Pelanggan
{% endblock %}

{% block content %}
    {% if pelanggan %}
        {% for pelanggans in pelanggan %}
            <h1>Selamat Datang User{{ user.id  }}</h1>
            <p>Pelanggan {{ pelanggans.user_id }}</p>
            <form>
                <p>Nama: {{ pelanggans.nama }}</p>
                <p>Alamat: {{ pelanggans.alamat }}</p>
                <p>Jenis Kelamin: {{ pelanggans.jenis_kelamin }}</p>
                <p>No Telepon: {{ pelanggans.no_telepon }}</p>
            </form>
        {% endfor %}
    {% else %}
        <h3>No Pelanggan</h3>
    {% endif %}
{% endblock %}