{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    {% if toko %}{{ toko.nama }}{% else %}My Shop{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Daftar Toko</h3>
        <ul>
            <li {% if not toko %}class="selected"{% endif %}>
                <a href="{% url "toko:produk_list_toko" %}">All</a>
            </li>
        {% for t in tokos %}
            <li {% if toko.id == t.id %}class="selected"{% endif %}>
                <a href="{{ t.get_absolute_url }}">{{ t.nama }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if toko %}{{ toko.nama }} Rating {{ rating | floatformat:0}} dari {{ count }} pelanggan {% else %}Produks{% endif %}</h1>
        {% for produk in produks %}
            <div class="item">
                <a href="{{ produk.get_absolute_url }}">
                    <img src="{% if produk.gambar %}{{ produk.gambar.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ produk.get_absolute_url }}">{{ produk.nama }}</a><br>
                Rp.{{ produk.harga | intcomma }}
                {% if produk.diskon != 0 %}
                    diskon {{ produk.diskon }}%
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}