{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Toko
    {#    {% if toko %}{{ tokos.nama }}{% else %}My Shop{% endif %}#}
{% endblock %}

{% block content %}
    {% if toko %}
        {% for tokos in toko %}
            <form>
                <h1>Profil Anda {{ tokos.nama }}</h1>
{#                <p>Hi, {{ request.session.username }}</p>#}
                <p>Nama Toko: {{ tokos.nama }}</p>
                <p>Slogan Toko: {{ tokos.slogan }}</p>
                <p>Deskripsi Toko: {{ tokos.deskripsi }}</p>
                <p>Alamat Toko: {{ tokos.alamat }}</p>
            </form>
        {% endfor %}
    {% else %}
        <h3>No Toko</h3>
    {% endif %}

{#    <div id="main" class="product-list">#}
{#        <h1>{% if toko %}{{ toko.nama }}{% else %}Produks{% endif %}</h1>#}
{#        {% for produks in produk %}#}
{#            <div class="item">#}
{#                <a href="{{ produks.get_absolute_url }}">#}
{#                    <img src="#}
{#                            {% if produks.gambar %}{{ produks.gambar.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">#}
{#                </a>#}
{#                <a href="{{ produks.get_absolute_url }}">{{ produks.nama }}</a><br>#}
{#                Rp.{{ produks.harga }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{% endblock %}