{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Pembelian
{% endblock %}

{% block content %}
    {% if pembelian %}
        <h1>Selamat Datang '{{ user.username }}'</h1>
        <table border="1">
            <tr>
                <td width="180">Waktu Pembelian</td>
                <td width="180">Produk</td>
                <td width="180">Harga</td>
                <td width="180">Toko Penjual</td>
                <td width="180">Dikirim dari</td>
                <td width="180">Ongkos Kirim</td>
            </tr>
        </table>
        {% for pembelians in pembelian %}
        <table border="1">
            <tr>
                <td width="180">{{ pembelians.waktu_pembelian }}</td>
                <td width="180">{{ pembelians.produk.nama }}</td>
                <td width="180">Rp.{{ pembelians.harga | intcomma}}</td>
                <td width="180">{{ pembelians.toko }}</td>
                <td width="180">{{ pembelians.toko.alamat }}</td>
                <td width="180">Rp.{{ pembelians.biaya_pengiriman | intcomma}}</td>
            </tr>
        </table>
        {% endfor %}
    {% endif %}
{% endblock %}